<%= render "nav" %>

<div class="pages section">
		<div class="pages-head">
			<h3>FAQ</h3>
		</div>
	<div class="container">
		<div class="pages-head"><br/>
			<h3>O aplicativo é de código aberto?</h3>
		</div>
		<div class="about-us">
			<p>Sim!! Este aplicativo bem como o servidor são distribuições de software livre, você pode baixo e ajudar a melhora-lo acessando nosso<a href='#'> github <a>!</p>
		</div>
	</div>
	<div class="container">
		<div class="pages-head"><br/>
			<h3>Os comentários são anônimos?</h3>
		</div>
		<div class="about-us">
			<p>Neste app você pode expor suas opiniões sobre o curso que estava fazendo, falando como foi e se gostou, tudo de forma anônima!! O sistema de down vote faz com que um determina comentário seja excluído ao chegar em 15 votos. Ou seja, se 15 pessoas não gostaram do comentário provavelmente ele não é bom :)</p>
		</div>
	</div>
	<div class="container">
		<div class="pages-head"><br/>
			<h3>O que posso fazer no app?</h3>
		</div>
		<div class="about-us">
			
			<p>Neste aplicativo você pode acompanhar a evolução do seu curso e saber de outras pessoas como é um determinado curso vendo os comentários do respectivo ano.</p>
		</div>
	</div>
	<div class="container">
		<div class="pages-head">
			<br/>
			<h3>Não sou do BCC e agora?</h3>
		</div>
		<div class="about-us">
			
			<p>Hoje o USPme oferece suporte apenas ao curso da computação porem estamos trabalhando para que ele venha a dar suporte a toda a comunidade USP.</p>
		</div>
	</div>
</div>

<div class="footer">
	<div class="container">
		<div class="about-us-foot">
			<h6>USPMe</h6>
			<p>Este é mais um software livre.</p>
		</div>
		<div class="social-media">
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-google"></i></a>
			<a href="#"><i class="fa fa-linkedin"></i></a>
			<a href="#"><i class="fa fa-instagram"></i></a>
		</div>
		<div class="copyright">
			<span>© 2016 All Right Reserved</span>
		</div>
	</div>
</div>