<%= render "nav" %>

<!-- home blog -->
<div class="section">
	<div class="container">
		<div class="blog">
			
		
			<% 5.times do %>
				<div class="row">
					<div class="col s12">
						<div class="blog-content">
							<%= image_tag "blog1.jpg" %>
							<div class="blog-detailt">
								<h5><a href="">How To Design Fresh and Clean</a></h5>
								<div class="date">
									<span><i class="fa fa-calendar"></i> July 22, 2016</span>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quasi sit aperiam quia voluptatem odio, facere iusto magni sunt, cumque quae, molestias temporibus ducimus repellendus!</p>
								<div class="social-media-blog">
									<a href=""><i class="fa fa-facebook"></i></a>
									<a href=""><i class="fa fa-twitter"></i></a>
									<a href=""><i class="fa fa-google"></i></a>
									<a href=""><i class="fa fa-linkedin"></i></a>
									<a href=""><i class="fa fa-instagram"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			<% end %>
			
		</div>
	</div>
</div>
<!-- end blog -->
