<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>USPMe</title>
  <meta name="viewport" content="width=device-width, initial-scale=1  maximum-scale=1 user-scalable=no">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="HandheldFriendly" content="True">
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- loader -->
<div id="fakeLoader"></div>
<!-- end loader -->




<%= yield %>

<style>
	

</style>




<!-- footer -->
<!--<div class="footer">-->
<!--	<div class="container">-->
<!--		<div class="about-us-foot">-->
<!--			<h6>USPMe</h6>-->
<!--			<p>is a lorem ipsum dolor sit amet, consectetur adipisicing elit consectetur adipisicing elit.</p>-->
<!--		</div>-->
<!--		<div class="social-media">-->
<!--			<a href="#"><i class="fa fa-facebook"></i></a>-->
<!--			<a href="#"><i class="fa fa-twitter"></i></a>-->
<!--			<a href="#"><i class="fa fa-google"></i></a>-->
<!--			<a href="#"><i class="fa fa-linkedin"></i></a>-->
<!--			<a href="#"><i class="fa fa-instagram"></i></a>-->
<!--		</div>-->
<!--		<div class="copyright">-->
<!--			<span>© 2016 All Right Reserved</span>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
<!-- end footer -->



</body>
</html>
